# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# IDE files
.vscode/

*.DS_Store

*.csv
!data/benchmarks/*.csv
data/spotify/*

*data/

indices/

*.dat
*.idx
*.db
**/tables_metadata.json

